<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="docTitle">Map generator</title>
    <link rel="stylesheet" href="../View/style.css">
</head>

<body>

    <div class="container">
        <div class="header-row">
            <h1 data-i18n="title">Dungeon Generátor</h1>
            <div class="lang-selector">
                <button id="btn-hu">HU</button>
                <button id="btn-en">EN</button>
            </div>
        </div>

        <canvas id="dungeon"></canvas>

        <div class="controls-wrapper">
            <div class="control-row">
                <p data-i18n="brushSize">Ecset méret:</p>
                <input type="number" id="brush_size" value="0" min="0">
            </div>

            <div class="control-row">
                <input type="color" id="color0" value="#000000">
                <input type="color" id="color1" value="#DAA06D">
                <input type="color" id="color2" value="#E1C16E">
            </div>

            <div class="control-row">
                <label><input type="radio" name="color" value="semmi"> <span data-i18n="void">Semmi</span></label>
                <label><input type="radio" name="color" value="folyosó"> <span
                        data-i18n="corridor">Folyosó</span></label>
                <label><input type="radio" name="color" value="szoba"> <span data-i18n="room">Szoba</span></label>
            </div>

            <div>
                <p data-i18n="wallsHeader" style="margin-bottom: 8px;">Falak/Ajtók:</p>
                <div class="checkbox-matrix">
                    <div class="control-row">
                        <label><input type="checkbox" name="walls0" value="1"> <span
                                data-i18n="corridor">Folyosó</span></label>
                        <label><input type="checkbox" name="walls1" value="2"> <span
                                data-i18n="room">Szoba</span></label>
                        <label><input type="checkbox" name="walls2" value="0"> <span
                                data-i18n="void">Semmi</span></label>
                    </div>
                    <div class="control-row">
                        <label><input type="checkbox" name="walls0" value="2"> <span
                                data-i18n="room">Szoba</span></label>
                        <label><input type="checkbox" name="walls1" value="0"> <span
                                data-i18n="void">Semmi</span></label>
                        <label><input type="checkbox" name="walls2" value="1"> <span
                                data-i18n="corridor">Folyosó</span></label>
                    </div>
                </div>
            </div>
        </div>

        <button id="exportBtn" data-i18n="exportBtn">Exportálás DD2VTT-be</button>
    </div>

    <script type="module" src="../Controller/generator.js"></script>
</body>

</html>