<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map generator</title>
</head>
<body>
    <canvas id="dungeon"></canvas>
    <input type="radio" name="color" value="folyósó" checked> folyósó
    <input type="radio" name="color" value="szoba"> Szoba
    <input type="radio" name="color" value="törlés"> Törlés
</body>
    <script type="module" src="../Controller/generator.js"></script>
</html>